<body>
  <div class="login  text-center form-login">
    <div class="mb-3 row">
      <label for="Email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input [(ngModel)]="email" type="email" class="form-control" id="" required="true" value="">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input  [(ngModel)]="senha" name="" type="password" required="true" class="form-control" id="inputPassword">
      </div>
    </div>
    <button  id="btn1" (click)="fazerLogin()" class="btn bg-primary text-white"  > Acessar</button>
    <button id="btn2" (click)="liberarCadastro()" class="btn bg-primary text-white">Cadastratar</button>
  </div>

  <div class="col-6">
    <app-cadastro *ngIf="mostrarCadastro" ></app-cadastro>
  </div>

</body>
  <!-- routerLink="/home" -->