.login{
  margin: auto;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;
  width: 25%;
  color: white;
}

.login input{
  width: 100%;
}

body{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, white, black);
}

.btn{
  border: 0px;
  margin: 10px;
  width: 45%;
  background-image: linear-gradient(to bottom, white, black);
}