<div class="text-center form-login">
    <div class="mb-3 row">
      <label for="Email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input [(ngModel)]="email" type="email" class="form-control" id="" required="true" value="">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input  [(ngModel)]="senha" name="" type="password" required="true" class="form-control" id="inputPassword">
      </div>
    </div>
    <button  (click)="fazerLogin()" class="btn bg-primary text-white"  > Acessar</button>
  </div>